@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend, Verdana, sans-serif;
}

body {
    display: grid;
    min-height: 100vh;
    padding: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    margin-bottom: 1rem;
}

.lista-principal {
    display: grid;
    gap: 1rem;
    margin-left: 2rem;
}

.sub-lista li {
    margin-left: 1.5rem;
}

footer {
    width: 100%;
    align-self: end;
    text-align: center;
}